* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @font-face {
    font-family: airbnb;
    src: url("../asset/font/airbnb");
  }
}

nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

nav li {
  margin-right: 48px;
  margin-top: 37px;
  margin-left: 48px;
}

nav li a {
  color: #2E266F;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

li a.active {
  border-bottom: 3px solid #2E266F;
}

.main {
  margin-top: 50px;
}

.main .title h1{
  font-weight: 500;
  font-size: 50px;
  color: #2E266F;
}

img.main-image {
  margin-top: 70px;
  width: 750px;
  height: 450px;
}

.ingredients {
  margin-top: 85px;
}

.title2 h1 {
  font-weight: 500;
  font-size: 35px;
  color: #3F3A3A;
}

.ingredients .ing-content {
  margin-top: 30px;
}

.ingredients .ing-content p {
  font-weight: 300;
  font-size: 28px;
  text-transform: capitalize;
}

.video {
  margin-top: 52px;
}

.buttons {
  margin-top: 33px;
}

.buttons .tbl {
  width: 323px;
  height: 67px;
  background-color: #EFC81A;
  border: 1px solid #EFC81A;
  border-radius: 15px;
}

.buttons .tbl:hover {
  background-color: #efc81ad3;
}

.input-comment {
  margin-top: 95px;
}

.input-comment textarea.typing-input {
  height: 287px;
  resize: none;
}

.input-comment label {
  padding-left: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #666666;
}

.sbt-cmnt .tbl {
  width: 375px;
  height: 44px;
  background-color: #EFC81A;
  border: none;
  border-radius: 6px;
  margin-top: 60px;
  color: #FFFFFF;
}

.sbt-cmnt .tbl:hover {
  background-color: #efc81ad3;
}

.comment-content {
  margin-top: 49px;
}

.profile {
  margin-top: 22px;
}

.profile img {
  width: 44px;
  height: 44px;
}

.profile .profile-acc {
  margin-left: 28px;
}

.profile .profile-name {
  font-weight: 500;
  font-size: 18px;
}

.profile .profile-comment {
  margin-top: -10px;
  font-weight: 400;
  font-size: 18px;
}

footer {
  background-color: #EFC81A;
  margin-top: 100px;
}

.foot-content {
  padding-top: 150px;
}

footer .foot-content h1{
  font-weight: 350;
  font-size: 50px;
}

footer .foot-content p {
  font-weight: 400;
  font-size: 18px;
  margin-top: 40px;
}

.foot-nav {
  margin-top: 100px;
  padding-bottom: 60px;
}

.foot-nav li {
  list-style: none;
  display: inline-block;
}

.foot-nav li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  margin-right: 30px;
  color: #707070;
}